name: Deploy to Docker

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Construir la imagen Docker
        run: |
          docker build -f DockerFile.integration  -t esakiback .
        env:
          DOCKER_BUILDKIT: 1

      - name: Ejecutar el contenedor
        run: |
          docker run -d -p 3100:3100 --name esakiback esakiback
