name: CI Pipeline

on:

  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: self-hosted  # Usará tu VPS como runner
    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.2.0

      


      - name: Instalar dotenv cli
      
        run:   npm install -g dotenv-cli

      - name: Instalar  cli pm2

        run:   npm install -g pm2

      - name: Instalar deps a
        run:  npm install --force -verbose

      - name: parando 
  
        run: pm2 delete esakiback || true



      - name: iniciar la aplicación
        run: pm2 start npm --name "esakiback" -- run start:prod


