name: CI Pipeline
on:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: self-hosted
    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.2.0

      - name: Instalar dependencias
        run: npm install --force --verbose

      - name: Detener sesión tmux anterior (si existe)
        run: |
          tmux kill-session -t esakiback || true

      - name: Iniciar aplicación con tmux
        run: |
          tmux new-session -d -s esakiback "npm run start:prod"
