name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: self-hosted # Usará tu VPS como runner
    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.2.0

      - name: Instalar dependencias de Stripe
        run: npm install stripe@17.4.0

      - name: Instalar dotenv-cli
        run: npm install -g dotenv-cli

      - name: Instalar dependencias del proyecto
        run: npm install

      - name: Construir la aplicación
        run: npm run start:prod
